.foto-container{
  margin: 2rem auto;
  width: 100%;
  height: 10.8rem;

  max-width: 350px;
  
  background: none;
  border: 2px solid #000;
  border-radius: 0.8rem;
  z-index: 1;
}

.foto-container img {
  width: 100%;
  height: 100%;
}