@import url(_variaveis.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem Archivo;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  :root {
    font-size: 62.5%;
  }
}
