@import url(_variaveis.css);

header  {
  background: var(--header-background);
  width: 100vw;
  height: 100px;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  

}