.info {
  display: flex;
}

.info:nth-child(2) {
  margin: 2rem 0;
}

.info img {
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
}

.info p {
  max-width: 180px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
}
