:root {
  --laranja-light: #d7c4bd;
  --orange-medium-light: #c9afa2;
  --orange-saara: #e6ded3;
  --brown-light-shadow: #d8cbb8;
  --brown-light: #cec9c3;
  --brown-medium-light: #b1aa9a;
  --header-background: #444;
  --background: #ffffff;
}